@import url('https://fonts.googleapis.com/css?family=Patua+One');

*  {
	margin:0;
	padding:0;
}

html, body {height:100%;}

body{       
  margin: 0;
  padding: 0;
  height: 100%
}

.rodape {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.rodape ul{
    
    color: #fff;
    list-style: none;
    background-color: #000;
    text-align: center;
    padding: 0;
    margin: 0;
}

.rodape p {
    color: #fff;
    background-color: #000;
    font-family: 'Patua One', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #c6bec0;       
}

.rodape a {
    font-family: 'Patua One', cursive;
    text-decoration: none;
    color: #c6bec0; 
}

